@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
/**font-family: 'Gravitas One', cursive;*/
/**font-family: 'Nothing You Could Do', cursive;*/

body{
    background: rgb(177,154,59);
    background: linear-gradient(132deg, rgb(26, 29, 55) 0%, rgba(116,0,117,1) 46%, rgba(0,228,255,1) 100%);
    font-size: 16px;font-family: 'Raleway', sans-serif;
    color:#46FFF1;
}

h1{
    font-size: 2.5rem;
    font-weight: 600;
}

h2{
    font-size: 2.5rem;
    font-weight: 600;
}

h3{
    font-size: 2rem;
    font-weight: 600;
}

p{
    font-size: 1rem;
    font-weight: 300;
}
.cursive{
    font-family: 'Nothing You Could Do', cursive;
}

img.img-fluid.icone {
    width: 50px;
    height: auto;
}

.introImage{
    width: 500px;
    height: auto
}

section{
    margin-top: 6%;
    margin-bottom: 6%;
}
.card {
    background: transparent;
    border: solid 4px #46FFF1;
    border-radius: 25px;
    display: inline-block;
    height: auto;
    margin: 1rem;
    position: relative;
    width: 300px;
  }
  
  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  #hardskills p{
    color:#1a1a1a;
    margin-bottom: 0.5rem;
    color:#46FFF1
  }
  #hardskills h3{
    color:#1a1a1a;
    margin-bottom: 0.8rem;
    color:#46FFF1;
}

  


    .container{
        margin-top: 5%;
    }
    .title{
        color: #1a1a1a;
        text-align: center;
        margin-bottom: 10px
    }
    .content{
        position: relative;
        width: 90%;
        max-width: 400px;
        margin: auto;
        overflow: hidden
    }
    .content .content-overlay{
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 99%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s
    }
    .content:hover .content-overlay{
        opacity: 1;
    }.content-image{
        width: 100%
    }
    #portfolio img{
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
    .content-details{
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s
    }
    .content:hover .content-details{
        top: 50%;left: 50%;opacity: 1
    }
    .content-details h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase
    }
    .content-details p{
        color: #fff;
        font-size: 0.8em;
    }
    .fadeIn-bottom{
        top: 80%;
    }